.App{
  padding: 50px 30px;
  height: 100vh;
  background: #eff6e0;
}

.todo{
  background: rgba(93,93,129,0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  display: flex;
  width: 40%;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  padding: 10px 15px;
  color: white;
  margin: 10px;
}

button{
  background: transparent;
  color: #d11a2a ;
  border: none;
  border-radius: 40px;
  font-size: 25px;
  padding: 15px 20px;
  cursor: pointer;
}

.check{
  background: #04724D;

}

.check, .uncheck{
  padding: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  text-align: center;
  cursor: pointer;
}

.uncheck{
  border: 1px solid beige;
  color: #04724d;
  background: white;
}

.add{
  padding: 15px 20px;
  font-size: 14px;
  background: #04724d;
  color: beige;
  border: none;
  cursor: pointer;
  flex-basis: 30%;
  margin-left: -60px;
}

.input{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  
}

input{
  padding: 15px 20px;
  flex-basis: 70%;
  border: none;
  border-radius: 40px;
  outline: none
}

.todos{
  margin-top: 40px;
}